#contact-form {
    margin-top: 150px !important;
    padding: 0 15px;
  }
  
  #contact-form h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .card {
    border-radius: 12px;
    background-color: #212D40 !important;
    color: #fff;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 16px;
    text-decoration: none;
  }
  
  .card:hover {
    transform: translateY(-5px);
    background-color: #333f55;
  }
  
  .card .icon {
    margin-right: 10px;
  }
  
  .card span {
    font-size: 1.1rem;
  }
  
  @media (max-width: 768px) {
   
  
    .card {
      flex-direction: row !important;
      justify-content: start !important;
    }
  
    .card span {
      font-size: 1rem;
    }
  }
  