#contact-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 150px !important;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}

textarea.form-control {
    resize: vertical; 
    color: #fff !important;
    background-color: #212D40 !important;

    border: none !important;
}
input{
    background-color: #212D40 !important; 
    color: #fff !important;
}
input::placeholder,
textarea::placeholder {
  color: white !important;
  opacity: 1;
}


.btn-primary {
    background-color: #D66853 !important;
    border: none !important;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
